h1{
	text-align: center;
	font-variant: small-caps; 
	color: #ffffff;
}
header{
	background-color: #B3B3B3;
	color: #000000;
}

h2{
	color: #000060;
	text-transform: uppercase;
}
section{
	background-color: #666666  ;
}
img{
	display: none;
}
nav a{
	color: #000000;
	background-color: #a6a6a6;
	text-align: center;

}